body{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 55px;
    background-color: #292626;
    display: flex;
    color: #fff;
    vertical-align: middle;
}

header>nav{
    margin: auto;
    display: flex;
    gap: 40px;
}

header>nav>a{
    color: #fff;
    text-decoration: none;

}

footer{
    width: 100%;
    height: 15em;
    margin-top: auto;
    background-color: #292626;
    padding: 1em;
}

footer>div{
    margin: auto;
}

footer>div>nav{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

footer>div>nav>li{
    list-style: none;
    text-align: center;
}

footer>div>nav>li>a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

footer>i{
    width: 24px;
    height: 24px;
}

footer>div>h4{
    text-align: center;
    color: #fff;
}